<div class="body">
      <div class="container">
      	<div class="row">
  <div class="top-message col-md-offset-3 col-md-6">
    <h1>welcome to <div class="glyphicon glyphicon-book">Bookers!!</div></h1>
          In<div class="glyphicon glyphicon-book"></div><strong>Bookers</strong>,
          <p>you can share and exchange  your opinions , inpressions , and emotions</p>
          <p> about various books!</p>
    <div class="btn-wrapper">
      <div class="row">
         <p><%= link_to "Log in", new_user_session_path, class:"btn btn-info col-xs-10 col-xs-offset-1 sign_in" %></li></p>
      </div>
      <div class="row">
        <p><%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success col-xs-10 col-xs-offset-1 sign_up" %></li></p>
      </div>
    </div>
  </div>
</div>
